table {
    text-align: center;
    width: 100%;
}

td {
    width: 33%;
}

td:hover {
    background-color: white;
    color: var(--primary-pink);
}

.flag {
    font-size: 3em;
}

.countryName {
    font-size: 13.3em;
    color: var(--primary-pink);
}
